<template name="addslider">

	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Admin <small>Slider</small>
			</h1>
			<ol class="breadcrumb">
				<li class="active">
					<i class="fa fa-dashboard"></i> Add Slider
				</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->
	<div class="col-xs-12 col-sm-11 col-md-11">
		<form role="form" class="form-horizontal">	
			<div class="form-group">
				<label class="control-label col-sm-3" for="title">Title English <span style="color:red">*</span></label>
				<div class="col-sm-9">
					<input type="title" value="{{en.title}}" name="title" id="title_en" class="form-control input-sm" placeholder="Title in English"  >
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="title">Title Khmer <span style="color:red">*</span></label>
				<div class="col-sm-9">
					<input type="title" value="{{kh.title}}" name="title" id="title_kh" class="form-control input-sm" placeholder="Title in Khmer"  >
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="title">Title China <span style="color:red">*</span></label>
				<div class="col-sm-9">
					<input type="title" value="{{ch.title}}" name="title" id="title_ch" class="form-control input-sm" placeholder="Title China"  >
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="title">Images <span style="color:red">*</span></label>
				<div class="col-sm-9">
					<input type="file"  name="file" id="file" class="form-control input-sm" placeholder="Title China"  >
					<div class="img-multi">
							{{#with getImgUpload images}}
							{{#if validate image}}
							<div class="wrapp-tool-img">
								
								<img class="img-display" src="/uploads/{{getImg image}}"/>
								<div class="icon-over">
									
									<a href="#" id="img-delete" data-id="{{../_id}}" img-id="{{image}}">
										<i class="fa fa-trash-o" aria-hidden="true"></i>
									</a>
								</div>
								
							</div>
							{{/if}}
							{{/with}}	

					</div>
				</div>

			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="title">Loaction <span style="color:red">*</span></label>
				<div class="col-sm-9">
					<select class="form-control" id="location">
						<option style="display:none;" value="{{location}}">{{location}}</option>
						<option value="">===Please Select Location===</option>
						<option value="home">Home</option>
						<option value="home">News & Event</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-2">
					<input type="button"  value="Add" id="btnAdd" class="btn btn-primary btn-block">
				</div>
			</div>
		</form>
	</div>

</template>