<template name="footer">
	<footer class="footer">
		<p class="text-footer">
		Office : #72B Eo, St. 111, Sangkat Boeng Pralet, Khan 7 Makara, Phnom Penh<br/>
		Factory : #18, St. 85 BT, Chamroeun Phal Village, Khan Meanchey, Phnom Penh<br/>
		<i class="fa fa-phone " aria-hidden="true"></i>&nbsp; : +855 17 57 67 98 / 16 67 97 98<br/>
		<i class="fa fa-envelope-o " aria-hidden="true"></i>&nbsp;  : Kbk01.yarath@kollbothkhmer.com
		</p>
		<p class="inline-footer">Copyright &copy; 2017 By KOLLBOTH KHMER ARCHITECTURAL DESIGN & CONSTRUCTION CO., LTD.</p>
		<ul class="social">
			<li><a target="_blank" href="https://www.facebook.com/KollbothKhmer-Architectural-Design-Construction-Coltd-826439670738921/"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
			<li><a href="#"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a></li>
		</ul>
	</footer>
</template>