<template name="home">
	<div sclass=" slider col-md-12 wrapper">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				{{#each getSlider}}
				<li data-target="#myCarousel" data-slide-to="{{@index}}" class="{{activeClass @index}}"></li>
				{{/each}}
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				{{#each getSlider}}
				<div class="item {{activeClass @index}}">
					<img src="/uploads/{{getImg images}}" alt="Chania" >
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<section class="list-home">
		{{#each home}}
		<article class="col-md-3 col-tumbnail">
				<div class="wrap-img">
					<a href="/{{link}}">
					{{#with getPostByLanguage this}}
					<h3 class="text-center">{{title}}</h3>
					{{/with}}

					{{#if is4img images}}
						<div class="img-4 col-md-12 no-padding">
							{{#each images}}
							<div class="img-4-th"><img src="/uploads/{{getImg this}}"/></div>
							{{/each}}
						</div>
					{{else}}
						{{#with getFirstImg images}}
						<img class="text-center"  src="/uploads/{{getImg image}}" alt=""/>
						{{/with}}
					{{/if}}
					
					</a>
				</div>
		</article>
		{{/each}}
	</section>
</template>