<template name="manangepost">
	<div class="containter">
		<table>
			<tbody>
				<tr>
					<td>Title</td>
					<td>Description</td>
					<td>image</td>
					<td>Brand</td>
					<td>price</td>
					<td>Category</td>
				</tr>
				<tr>
					<td><input type="text"></td>
					<td>
						<textarea>
							
						</textarea>
					</td>
					<td><input type="file" name="file"></td>
					<td><input type="text" name="" id="brand"></td>
					<td><input type="tex" name="" id="price"></td>
					<td>
						<section id="Category"></section>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</template>