<template name="partner">
	<section class="row ">
		<h3 class="h3-partner">Partner</h3>
		<div class="round-shadow" style="margin-top: 20px;">
		<article class="col-md-12" style="margin-bottom: 20px;">
			<div class="col-md-3"><img width="200" src="images/giant.jpg"></div>
			<div class="col-md-3"><img width="200" src="images/kol-caffe.jpg"></div>
			<div class="col-md-3"><img width="200" src="images/lucky-burger.jpg"></div>
			<div class="col-md-3"><img width="200" src="images/combi.jpg"></div>
			
		</article>
		<article class="row">
			 <div class="col-md-3"><img width="200" src="images/Anakku.jpg"></div>
			<div class="col-md-3"><img width="200" src="images/lucky-supermarket.jpg"></div>
			<div class="col-md-3"><img width="200" src="images/orkidey-villa.jpg"></div>
			<div class="col-md-3"><img width="200" src="images/toys-me.jpg"></div>
			<div class="col-md-3"><img width="200" src="images/school-fruit-print.jpg"></div>
		</article>
		</div>
	</section>
</template>